@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Estilos Globales */
body {
    font-family: 'Roboto Mono', monospace;
}
h1{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(189, 194, 253);
    color: #3c3939;
}
/* Estilos de la Grid */
span{
    font-weight: bolder;
}
ul {
    margin: 1em 3em;
}
.container{
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(233, 233, 233, 0.456);
    margin-top: 10vh;
    margin: 3em;
    border:  3px solid rgb(240, 241, 255);
    padding: 2em;
    box-sizing: borderbox;
}
#description, #personal-details, #hobies, #metas-personales{

    padding: 1em;
    margin: auto;
}